a#tw-rounded:hover {
    background-color: #1a2b48 !important;
	color:white;
}
#nosmallreq3{
   color:white !important;
}
#nosmallreq2{
   color:white !important;
}
#nosmallreq{
   color:white !important;
}

form div.g-button-submit button.btn-search:hover {
    background-color: #1a2b48 !important;
		color:white;
}
 
.copy-right{
	  background: #1a2b48 !important;
	  color:white;
	  	color:white;
} 

button.sc-423e4b6d-0.dNpNeP.bold.wrap-10.tw-cursor-pointer.tw-rounded.tw-text-text-layout-fixed-light.tw-w-full:hover{
	 background-color: #1a2b48 !important;
	 	color:white;
}
button.book-btn.font_manish:hover {
	background: #1a2b48 !important;
		color:white;
}
button#show-all-btn:hover{
		background: #1a2b48 !important;
			color:white;
}

 ul.nav-tabs li a.active:hover{
	background: #1a2b48 !important;
		color:white;
}

 ul.nav-tabs li a.active:hover{
	background: #1a2b48 !important;
}

.sc-423e4b6d-0.dNpNeP.bold.wrap-10.tw-cursor-pointer.tw-rounded.tw-text-text-layout-fixed-light.tw-rounded.m-t-sm.m-b-sm.tw-w-full:hover{
	    background-color: #1a2b48 !important;
	color:white;
}

a.tw-rounded span i.fa-phone{
	color:white;
} 

.fa.fa-phone{
	color:white;
}

div.review-item div.profile-info img{
	display:none;
}

.bravo_footer .copy-right  .container .row div  a{
	color: #ff7d01 !important;
}

.trustpilot-widget{
	    margin-bottom: 10px;
}